<div class="page-loader">
    <div class="page-loader__spinner">
        <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<style>
    .top-nav>li>a:not(.header__nav__text) {
        padding: .6rem 1rem;
    }
</style>

<header class="header">
    <div class="navigation-trigger d-xl-none" data-sa-action="aside-open" data-sa-target=".sidebar">
        <i class="zwicon-hamburger-menu"></i>
    </div>

    <div class="logo d-none d-sm-inline-flex">
        <a href="/"><img src="/images/logo.png" width="170"></a>
    </div>
    <form class="search">
        <div class="search__inner">
            <input type="text" class="search__text" placeholder="Search for people, files, documents...">
            <i class="zwicon-search search__helper"></i>
            <i class="zwicon-arrow-left search__reset" data-sa-action="search-close"></i>
        </div>
    </form>
    <ul class="top-nav row">

        <li class="dropdown">
            <a href="" data-toggle="dropdown" class="top-nav__notify"><i class="zwicon-mail"></i></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
                <div class="dropdown-header">
                    Messages

                    <div class="actions">
                        <a href="messages.html" class="actions__item zwicon-plus"></a>
                    </div>
                </div>

                <div class="listview listview--hover" id="email-alert">
                    <!--<a href="" class="listview__item">-->
                        <!--<img src="demo/img/profile-pics/1.jpg" class="avatar-img" alt="">-->

                        <!--<div class="listview__content">-->
                            <!--<div class="listview__heading">-->
                                <!--David Belle <small>12:01 PM</small>-->
                            <!--</div>-->
                            <!--<p>Cum sociis natoque penatibus et magnis dis parturient montes</p>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<a href="" class="listview__item">-->
                        <!--<img src="demo/img/profile-pics/2.jpg" class="avatar-img" alt="">-->

                        <!--<div class="listview__content">-->
                            <!--<div class="listview__heading">-->
                                <!--Jonathan Morris-->
                                <!--<small>02:45 PM</small>-->
                            <!--</div>-->
                            <!--<p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<a href="" class="listview__item">-->
                        <!--<img src="demo/img/profile-pics/3.jpg" class="avatar-img" alt="">-->

                        <!--<div class="listview__content">-->
                            <!--<div class="listview__heading">-->
                                <!--Fredric Mitchell Jr.-->
                                <!--<small>08:21 PM</small>-->
                            <!--</div>-->
                            <!--<p>Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</p>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<a href="" class="listview__item">-->
                        <!--<img src="demo/img/profile-pics/4.jpg" class="avatar-img" alt="">-->

                        <!--<div class="listview__content">-->
                            <!--<div class="listview__heading">-->
                                <!--Glenn Jecobs-->
                                <!--<small>08:43 PM</small>-->
                            <!--</div>-->
                            <!--<p>Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</p>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<a href="" class="listview__item">-->
                        <!--<img src="demo/img/profile-pics/5.jpg" class="avatar-img" alt="">-->

                        <!--<div class="listview__content">-->
                            <!--<div class="listview__heading">-->
                                <!--Bill Phillips-->
                                <!--<small>11:32 PM</small>-->
                            <!--</div>-->
                            <!--<p>Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</p>-->
                        <!--</div>-->
                    <!--</a>-->
                    <%if (session.user.role == 2) {%>
                        <a href="/help/inbox" class="view-more">View all messages</a>
                    <%} else {%>
                        <a href="/admin/message-center/inbox" class="view-more">View all messages</a>
                    <%}%>
                </div>
            </div>
        </li>
        <li class="d-none d-sm-inline-block">
            <a href="" class="top-nav__themes" data-sa-action="aside-open" data-sa-target=".themes"><i class="zwicon-palette"></i></a>
        </li>
        <div class="clock d-none d-md-inline-block">
            <div class="time">
                <span class="time__hours"></span>
                <span class="time__min"></span>
                <span class="time__sec"></span>
            </div>
        </div>
        <li class="d-none d-sm-inline-block">
            <a href="/auth/logout"><i class="zwicon-sign-out"></i></a>
        </li>
    </ul>
</header>
<div class="themes">
    <div class="scrollbar">
        <a href="" class="themes__item" data-sa-value="1" onclick="changeTheme(1)"><img src="/resources/img/bg/1.jpg" alt=""></a>
        <a href="" class="themes__item" data-sa-value="2" onclick="changeTheme(2)"><img src="/resources/img/bg/2.jpg" alt=""></a>
        <a href="" class="themes__item" data-sa-value="3" onclick="changeTheme(3)"><img src="/resources/img/bg/3.jpg" alt=""></a>
        <a href="" class="themes__item" data-sa-value="4" onclick="changeTheme(4)"><img src="/resources/img/bg/4.jpg" alt=""></a>
        <a href="" class="themes__item" data-sa-value="5" onclick="changeTheme(5)"><img src="/resources/img/bg/5.jpg" alt=""></a>
        <a href="" class="themes__item" data-sa-value="6" onclick="changeTheme(6)"><img src="/resources/img/bg/6.jpg" alt=""></a>
        <a href="" class="themes__item" data-sa-value="7" onclick="changeTheme(7)"><img src="/resources/img/bg/7.jpg" alt=""></a>
        <a href="" class="themes__item" data-sa-value="8" onclick="changeTheme(8)"><img src="/resources/img/bg/8.jpg" alt=""></a>
        <a href="" class="themes__item" data-sa-value="9" onclick="changeTheme(9)"><img src="/resources/img/bg/9.jpg" alt=""></a>
        <a href="" class="themes__item" data-sa-value="10" onclick="changeTheme(10)"><img src="/resources/img/bg/10.jpg" alt=""></a>
    </div>
</div>
