<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body data-sa-theme="<%=theme_index%>">
<% include ../partials/header.ejs %>
<% include ../partials/sidebar.ejs %>

<section class="content">
    <div class="content__inner">
        <header class="content__title">
            <h1>Motorcut Application Tutorial <small>If you have any question, Please ask me with Contact Support.</small></h1>

            <div class="actions">
                <a href="" class="actions__item zwicon-heart"></a>
                <a href="" class="actions__item zwicon-comment"></a>
                <a href="" class="actions__item zwicon-share"></a>
            </div>
        </header>

        <div class="card">
            <div class="card-body">
                <iframe class="card-img-top" width="100%" height="700px"
                        src="https://www.youtube.com/embed/JffoNiE6hp8">
                </iframe>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

</body>
</html>
